{% extends 'base_tablas.html' %}
{% load bootstrap4 %}

{% block page_title %}
    Registro de usuarios
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registrar usuario</h4>
                    <hr>
                    <form method="POST">{% csrf_token %}
                        <div class="form-group">
                            <label for="" class="form-label required">Nombre</label>
                            {{ form2.first_name }}
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label required">Apellido</label>
                            {{ form2.last_name }}
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label required">Email</label>
                            {{ form2.email }}
                        </div>
                        <div class="form-group">
                            <label class="form-label required">Contraseña</label>
                            {{ form2.password1 }}
                        </div>
                        <div class="form-group">
                            <label class="form-label required">Confirme Contraseña</label>
                            {{ form2.password2 }}
                        </div> 
                        
                        {% bootstrap_form form %}
                        
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a class="btn btn-danger" href="{% url 'usuarios:registrar' %}" role="button">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Listado de usuarios <a href="{% url 'usuarios:registrar' %}" class="btn btn-primary" role="button">+</a></h4>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered data-combine">
                            <thead>
                                <tr>
                                    <th>E-mail</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Rol</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                {% if usuario.usuario.rol != 'c'%}
                                    <tr>
                                        <td>{{ usuario.username }}</td>
                                        <td>{{ usuario.first_name }}</td>
                                        <td>{{ usuario.last_name }}</td>
                                        <td>{{ usuario.usuario.rol }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    Opciones
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="{% url 'usuarios:modificar' usuario.usuario.id %}">Modificar</a>
                                                    <a class="dropdown-item" href="{% url 'usuarios:eliminar' usuario.usuario.id %}">Eliminar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}