{% extends 'base_tablas.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block page_title %}
    Reportes
{% endblock %}

{% block card_title %}
Reportes Gráficos
{% endblock %}

{% block card_content %}
    <section id="container" class="wrapper">
        <div class="tab-pane" id="chartjs">
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Pizzas vendidas</h4>
                        <div class="panel-body text-center">
                            <canvas id="bar" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> N° Ventas Mensuales</h4>
                        <div class="panel-body text-center">
                            <canvas id="line" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr>
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Rendimiento vendedor</h4>
                        <div class="panel-body text-center">
                            <canvas id="radar" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <style>
                        #lunes {
                            color: #f49797 ;
                        }
                    
                        #martes {
                            color: #f497f4;
                        }

                        #miercoles {
                            color: #9a97f4;
                        }

                        #jueves {
                            color: #97f4f3;
                        }

                        #viernes {
                            color: #9df497;
                        }

                        #sabado {
                            color: #f4f497;
                        }

                        #domingo {
                            color: #f4bb97;
                        }
                    </style>
                        <h4><i class="fa fa-angle-right"></i> Ventas en días de la semana <i id="lunes">L</i> <i id="martes">M</i> <i id="miercoles">Mi</i> <i id="jueves">J</i> <i id="viernes">V</i> <i id="sabado">S</i> <i id="domingo">D</i></h4>
                        <div class="panel-body text-center">
                            <canvas id="polarArea" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr>
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Doughnut</h4>
                        <div class="panel-body text-center">
                            <canvas id="doughnut" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
                <style>
                        .es {
                            color: #D97041 ;
                        }
                    
                        .nes {
                            color: #16a085;
                        }
                    </style>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Relación ventas <i class="es">especiales</i> y <i class="nes">no especiales</i></h4>
                        <div class="panel-body text-center">
                            <canvas id="pie" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src={% static 'graficos/assets/js/chart-master/Chart.js' %}> </script>
    <script>var Script = function () {
        var doughnutData = [
            {
                value: 30,
                color:"#1abc9c"
            }
        ];
        var npizzas = {{ npizzas|safe }};
        var pizzas = {{ pizzas|safe }};
        var barChartData = {
            labels : pizzas,
            datasets : [
                {
                    fillColor : "rgb(255, 249, 140)",
                    strokeColor : "rgb(95, 96, 96)",
                    data : npizzas
                }
            ]

        };
        
        var pieData = [
            {
                value: {{ especial|safe }},
                color:"#D97041"
            },
            {
                value : {{ noespecial|safe }},
                color : "#16a085"
            }

        ];
        var lineChartData = {
            labels : ["E","F","M","A","M","J","J","A","S","O","N","D"],
            datasets : [
                {
                    fillColor : "rgb(160, 255, 251)",
                    strokeColor : "rgb(95, 96, 96)",
                    pointColor : "rgb(0, 0, 0)",
                    pointStrokeColor : "rgb(0, 0, 0)",
                    data : ["{{vene}}","{{vfeb}}","{{vmarzo}}","{{vabr}}","{{vmay}}","{{vjun}}","{{vjul}}","{{vago}}","{{vsep}}","{{voct}}","{{vnov}}","{{vdic}}"]
                }
            ]

        };
        var diasSemana = {{ ventasdias|safe }}
        var polarChartData = [
            {
                value : diasSemana[0],
                color: "#f49797"
            },
            {
                value : diasSemana[1],
                color: "#f497f4"
            },
            {
                value : diasSemana[2],
                color: "#9a97f4"
            },
            {
                value : diasSemana[3],
                color: "#97f4f3"
            },
            {
                value : diasSemana[4],
                color: "#9df497"
            },
            {
                value : diasSemana[5],
                color: "#f4f497"
            },
            {
                value : diasSemana[6],
                color: "#f4bb97"
            }
        ];
        var vendedores = {{ vendedores|safe }};
        var ventasVendedores = {{ ventasvendedores|safe }};
        var radarChartData = {
            labels : vendedores,
            datasets : [
                {
                    fillColor : "rgb(255, 145, 255)",
                    strokeColor : "rgb(109, 57, 107)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : ventasVendedores
                }
            ]

        };
        new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);
        new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
        new Chart(document.getElementById("radar").getContext("2d")).Radar(radarChartData);
        new Chart(document.getElementById("polarArea").getContext("2d")).PolarArea(polarChartData);
        new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
        new Chart(document.getElementById("pie").getContext("2d")).Pie(pieData);


    }();
    </script>
{% endblock %}
