{% extends 'base_tablas.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block page_title %}
    Reportes
{% endblock %}

{% block card_title %}
Reportes Gráficos
{% endblock %}

{% block card_content %}
    <section id="container" class="wrapper">
        <div class="tab-pane" id="chartjs">
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i>N° Ventas Mensuales</h4>
                        <div class="panel-body text-center">
                            <canvas id="bar" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Line</h4>
                        <div class="panel-body text-center">
                            <canvas id="line" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Radar</h4>
                        <div class="panel-body text-center">
                            <canvas id="radar" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Polar Area</h4>
                        <div class="panel-body text-center">
                            <canvas id="polarArea" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Doughnut</h4>
                        <div class="panel-body text-center">
                            <canvas id="doughnut" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Pie</h4>
                        <div class="panel-body text-center">
                            <canvas id="pie" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src={% static 'graficos/assets/js/chart-master/Chart.js' %}> </script>
    <script>var Script = function () {
        var doughnutData = [
            {
                value: 30,
                color:"#1abc9c"
            },
            {
                value : 50,
                color : "#2ecc71"
            },
            {
                value : 100,
                color : "#3498db"
            },
            {
                value : 40,
                color : "#9b59b6"
            },
            {
                value : 120,
                color : "#34495e"
            }

        ];
        var lineChartData = {
            labels : ["","","","","","",""],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [65,59,90,81,56,55,40]
                },
                {
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data : [28,48,40,19,96,27,100]
                }
            ]

        };
        var pieData = [
            {
                value: 30,
                color:"#1abc9c"
            },
            {
                value : 50,
                color : "#16a085"
            },
            {
                value : 100,
                color : "#27ae60"
            }

        ];
        var barChartData = {
            labels : ["E","F","M","A","M","J","J","A","S","O","N","D"],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    data : ["{{vene}}","{{vfeb}}","{{vmarzo}}","{{vabr}}","{{vmay}}","{{vjun}}","{{vjul}}","{{vago}}","{{vsep}}","{{voct}}","{{vnov}}","{{vdic}}"]
                }
            ]

        };
        var chartData = [
            {
                value : Math.random(),
                color: "#D97041"
            },
            {
                value : Math.random(),
                color: "#C7604C"
            },
            {
                value : Math.random(),
                color: "#21323D"
            },
            {
                value : Math.random(),
                color: "#9D9B7F"
            },
            {
                value : Math.random(),
                color: "#7D4F6D"
            },
            {
                value : Math.random(),
                color: "#584A5E"
            }
        ];
        var radarChartData = {
            labels : ["","","","","","",""],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [65,59,90,81,56,55,40]
                },
                {
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data : [28,48,40,19,96,27,100]
                }
            ]

        };
        new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);
        new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
        new Chart(document.getElementById("radar").getContext("2d")).Radar(radarChartData);
        new Chart(document.getElementById("polarArea").getContext("2d")).PolarArea(chartData);
        new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
        new Chart(document.getElementById("pie").getContext("2d")).Pie(pieData);


    }();
    </script>
{% endblock %}
