{% extends 'base_tablas.html' %}
{% load bootstrap4 %}

{% block page_title %}
    Registro de franquicias
{% endblock %}

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registrar franquicia</h4>
                    <hr>
                    <form method="POST">{% csrf_token %}
                    {% if regis %}
                        {% bootstrap_form form1 %}
                        {% bootstrap_form form2 %}
                        {% bootstrap_form form3 %}
                    {% else %}
                        {% bootstrap_form form %}
                    {% endif %}
                        <button type="submit" class="btn btn-warning">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Listado de franquiciass </h4>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered data-combine">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Tipo</th>
                                    <th>Fecha de corte</th>
                                    <th>Working</th>
                                    <th>Fecha de cancelación</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dominio in dominios %}
                                    <tr>
                                        <td>{{ dominio.tenant.nombre }}</td>
                                        <td>{{ dominio.domain }}</td>
                                        <td>{{ dominio.tenant.tipo }}</td>
                                        <td>{{ dominio.tenant.fecha_corte }}</td>
                                        <td>{{ dominio.tenant.working }}</td>
                                        <td>{{ dominio.tenant.fecha_cancelada }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    Opciones
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="{% url 'franquicias:modificar' dominio.tenant.id %}">Modificar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}