{% extends 'base_tablas.html' %}
{% load bootstrap4 %}

{% block page_title %}
Registro de franquicias
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Listado de franquiciass </h4>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered data-combine">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Subtotal</th>
                        <th>Adicionales</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Subtotal</th>
                        <th>Total</th>
                        <th>Ciudad</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                        {% for factura in facturas %}
                        <tr>
                            <td>{{factura.cliente.user}}</td>
                            <td>{% for detalle in detalles %}
                                    {% if detalle.factura.id == factura.id %}
                                        {{detalle.producto}} <br>
                                    {% endif %}
                                {% endfor %}</td>
                            <td>{% for detalle in detalles %}
                                    {% if detalle.factura.id == factura.id %}
                                        {{detalle.cantidad}} <br>
                                    {% endif %}
                                {% endfor %}</td>
                            <td>{% for detalle in detalles %}
                                    {% if detalle.factura.id == factura.id %}
                                        {{detalle.precio}} <br>
                                    {% endif %}
                                {% endfor %}</td>
                            <td>{% for detalle in detalles %}
                                    {% if detalle.factura.id == factura.id %}
                                        {% widthratio detalle.cantidad 1 detalle.precio %} <br>
                                    {% endif %}
                                {% endfor %}</td>
                            <td>{% for ingrediente in ingredientesa %}
                                    {% if ingrediente.factura.id == factura.id %}
                                        {{ingrediente.ingredientes}} <br>
                                    {% endif %}
                                {% endfor %}</td>

                            <td>{% for ingrediente in ingredientesa %}
                                    {% if ingrediente.factura.id == factura.id %}
                                        {{ingrediente.cantidad}} <br>
                                    {% endif %}
                                {% endfor %}</td>
                            
                            <td>{% for ingrediente in ingredientesa %}
                                    {% if ingrediente.factura.id == factura.id %}
                                        {{ingrediente.precio}} <br>
                                    {% endif %}
                                {% endfor %}</td>
                            <td>{% for ingrediente in ingredientesa %}
                                    {% if ingrediente.factura.id == factura.id %}
                                        {% widthratio ingrediente.cantidad 1 ingrediente.precio %} <br>
                                    {% endif %}
                                {% endfor %}</td>
                            {% for total in totales %}
                            {% if forloop.counter == factura.id %}
                            <td>{{total}}</td>
                            {% endif %}
                            {% endfor %}
                            <td>{{factura.ciudad}}</td>
                            <td>{{factura.fecha_creacion}}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}