<li class="nav-item">
    {% if request.tenant.schema_name == 'public' and request.user.is_superuser %}
        {% include 'menus/apps/franquicias.html' %}
        {% include 'menus/apps/metricas.html' %}
    {% else %}
        {% if request.user.usuario.rol == 'd' or request.user.usuario.rol == 'a'%}
            {% include 'menus/apps/ingredientes.html' %}
            {% include 'menus/apps/pizzas.html' %}
        {% endif %}

        {% if request.user.usuario.rol == 'a' %}
            {% include 'menus/apps/usuarios.html' %}
            {% include 'menus/apps/ventas.html' %}
        {% endif %}

        {% if request.user.usuario.rol == 'v'%}
            {% include 'menus/apps/vender.html'%}
        {% endif %}

        {% if request.tenant.tipo.nombre == 'premium' and request.user.usuario.rol == 'a'%}
            {% include 'menus/apps/reportes.html'%}
            {% include 'menus/apps/configuraciones.html' %}
        {% endif %}

        {% if request.user.usuario.rol == 'a' %}
            {% include 'menus/apps/info.html' %}
        {% endif %}
    {% endif %}
</li>
