{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    {% include 'tenant/head.html' %}    
  <body>
      {% include 'tenant/nav.html' %}
    <section class="ftco-section">
            <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <h2>Realizar el pedido</h2>
                            {% if user.is_authenticated%}
                            {% else %}
                            {% if not backends.associated %}
                            <h5>Estas realizando el pedido como invitado. ¿Tienes una cuenta en Superpizzas {{request.tenant.nombre}}? <a href="{% url 'login' %}">Inicia Sesión</a> o <a href="{% url 'registro' %}">Regístrate</a></h5>
                            {% endif %}                           
                            {% endif %}
            
                            <br>
                            
                            <a style="color: white; text-decoration: none" class="btn btn-primary btn-md my-0 p" href="{% url 'ordenar' %}">
                                Seguir comprando
                            </a>
                            <br>
                            <br>
                            <div class="table-responsive">
                                {% if productos %}
                                <table class="table table-dark">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>ingrendientes adicionales</th>
                                        <th>Precio</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <script type="text/javascript">
                                            var ids = []
                                            var ids_i=[]
                                            var total_ingredientes=[]
                                            var precio_pizza=[]
                                    </script>
                                    {% for key, un_producto in productos.items %}
                                    <tr>
                                        <script type="text/javascript">
                                            ids.push({{un_producto.id}});
                                            precio_pizza.push({{un_producto.valor}});                                            
                                        </script>
                                        <td>{{ un_producto.nombre }}</td>
                                      
                                        {% for key, cantidad in cantidades.items %}  
                                            {% if cantidad.id == un_producto.id %}
                                                <td id="cantidad_{{un_producto.id}}">
                                                    {{cantidad.cantidad}}                                 
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                         <td>
                                            {% for key,adiciones in adicionales.items %} 
                                            {%if adiciones.id_pizza == un_producto.id%}
                                            <script type="text/javascript">
                                                if(ids_i.indexOf({{adiciones.id_pizza}}) == -1){
                                                ids_i.push({{adiciones.id_pizza}}); 
                                                total_ingredientes.push({{adiciones.total}});
                                                }
                                            </script>                                              
                                            {% for ingrediente in ingredientes %}
                                            {% if adiciones.id == ingrediente.id %}                                            
                                            {{adiciones.cantidad}}
                                            {{ingrediente.nombre}},                                             
                                            {%endif%}                                           
                                            {%endfor%} 
                                            {%endif%}                                                                                                                                 
                                            {%endfor%}                                              
                                         </td>
                                        <td id="precio_{{un_producto.id}}"></td>
                                        <td id="total_{{un_producto.id}}"></td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="font-weight-bold">Total:</td>
                                        <td id="total" class="font-weight-bold"></td>
                                    </tr>
                                </table>
            
                            </div>
                            {% else %}
                            <h1>Carrito vacio</h1>
                            {% endif %}
                            </tbody>
                            <h4>Dirección de envío:</h4>
                            <form class="form-horizontal form-direccion" method="POST" enctype="multipart/form-data" onsubmit="direccioncita()">
                                {% csrf_token %}

                                <div class="form-group mx-sm-3 mb-2">                                
                                {%  bootstrap_field form.ciudad layout="horizontal" %}                               
                                                            
                                
                                </div>
                                <div class="form-group mx-sm-3 mb-2">                                
                                {%  bootstrap_field form2.direccion layout="horizontal" %}
                                
                              </div>  
                              {% if user.is_authenticated%}
                              {% if not backends.associated %}
                              Si quieres cambiar tu información de pago ve a  <a href="modificarcliente/">Mi información</a>
                              {% endif %}    
                              {% else %}
                              <h4>Información del pago:</h4>                              

                              <div class="form-group mx-sm-3 mb-2">                              
                              {%  bootstrap_field form2.nombre_banco layout="horizontal" %}
                              </div> 

                              <div class="form-group mx-sm-3 mb-2"> 
                                {%  bootstrap_field form2.fecha_vencimiento layout="horizontal" %}
                            </div> 

                            <div class="form-group mx-sm-3 mb-2"> 
                                    {%  bootstrap_field form2.numero_tarjeta layout="horizontal" %}
                                </div> 

                                <div class="form-group mx-sm-3 mb-2">  
                                        {%  bootstrap_field form2.tipo_tarjeta layout="horizontal"%}
                                    </div> 

                                    <div class="form-group mx-sm-3 mb-2">  
                                            {%  bootstrap_field form2.cvv layout="horizontal"%}
                                        </div> 
                                        
                              {%endif%}
                              <div class="form-group">
                               <input type="hidden" name="datos-direccion" id="mi_direccion" value=""/>
                              </div>
                                <div class="text-center"><button type="submit" class="btn btn-danger float-right mb-3 mr-2">Pedir</button></div>
                              
                            </form>
                        </div>
                    </div>
                </div>
    </section>
{% include 'tenant/footer.html' %}
		 

    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'landing-tenant/js/jquery.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/popper.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/aos.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/scrollax.min.js' %}"></script>  
  <script src="{% static 'landing-tenant/js/main.js' %}"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
  </body>
</html>

<script type="text/javascript">

$(document).ready(function() {
    calcular_subtotal();    
});

function calcular_subtotal(){
    var cantidad = parseInt(document.getElementById("cantidad_pedido").innerHTML);
    var total = 0;
    var total_i=0;
    var total_adicionales=0;

    for(i=0; i<cantidad; i++){  
        if (total_ingredientes[i]!= undefined){                         
                for(j=0; j<cantidad; j++){                                                              
                    if(ids_i[i]==ids[j]){    
                    total_adicionales=parseInt(document.getElementById("cantidad_"+ids[j]).innerHTML)* total_ingredientes[i]; 
                    total = parseInt(document.getElementById("cantidad_"+ids[j]).innerHTML) * precio_pizza[i];
                    elemento = document.getElementById('precio_'+ids[j]);        
                    elemento.innerText = "";
		            elemento.innerText = total+"+"+total_adicionales;
                    elemento1 = document.getElementById('total_'+ids[j]);
                    elemento1.innerText = "";
                    elemento1.innerText = total+total_adicionales;                    
                    }                                     
                }            
            } 
         }  

        for (i=0;i<cantidad;i++){            
            if(document.getElementById('total_'+ids[i]).innerHTML==""){                  
                total = parseInt(document.getElementById("cantidad_"+ids[i]).innerHTML) * precio_pizza[i];
                elemento = document.getElementById('precio_'+ids[i]);        
                elemento.innerText = "";
		        elemento.innerText = total;
                elemento1 = document.getElementById('total_'+ids[i]);
                elemento1.innerText = "";
                elemento1.innerText = total;   
        }
    }
    calcular_total();
}

function calcular_total(){
    var cantidad = parseInt(document.getElementById("cantidad_pedido").innerHTML);
    var suma = 0;
    for(i=0; i<cantidad; i++){        
        suma += parseInt(document.getElementById("total_"+ids[i]).innerHTML);
    }
    elemento = document.getElementById('total');
    elemento.innerText = "";
    elemento.innerText = suma;
}


function direccioncita(){
    var fields = $( ".form-direccion :input" ).serializeArray();
    var campos = JSON.stringify(fields);
    document.getElementById('mi_direccion').value = campos;
}
</script>