{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'tenant/head.html' %}    
  <body>
      {% include 'tenant/nav.html' %}
    <section class="ftco-section">
            <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <h2>Realizar el pedido</h2>
                            {% if user.is_authenticated%}
                            {% else %}
                            <h5>Estas realizando el pedido como invitado. ¿Tienes una cuenta en Superpizzas {{request.tenant.nombre}}? <a href="{% url 'login' %}">Inicia Sesión</a> o <a href="{% url 'registro' %}">Regístrate</a></h5>
                            {% endif %}
            
                            <br>
                            
                            <a style="color: white; text-decoration: none" class="btn btn-primary btn-md my-0 p" href="{% url 'ordenar' %}">
                                Seguir comprando
                            </a>
                            <br>
                            <br>
                            <div class="table-responsive">
                                {% if productos %}
                                <table class="table table-dark">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <script type="text/javascript">
                                            var ids = []
                                     </script>
                                    {% for key, un_producto in productos.items %}
                                    <tr>
                                        <script type="text/javascript">
                                            ids.push({{un_producto.id}});
                                        </script>
                                        <td>{{ un_producto.nombre }}</td>
                                        {% for key, cantidad in cantidades.items %}
                                            {% if cantidad.id == un_producto.id %}
                                                <td id="cantidad_{{un_producto.id}}">
                                                    {{cantidad.cantidad}}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
            
                                        <td id="precio_{{un_producto.id}}">{{ un_producto.valor}}</td>
                                        <td id="total_{{un_producto.id}}">{{ un_producto.valor}}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="font-weight-bold">Total:</td>
                                        <td id="total" class="font-weight-bold"></td>
                                    </tr>
                                </table>
            
                            </div>
                            {% else %}
                            <h1>Carrito vacio</h1>
                            {% endif %}
                            </tbody>
                            <h4>Dirección de envío:</h4>
                            <form class="form-horizontal form-direccion" method="POST" enctype="multipart/form-data" onsubmit="direccioncita()">
                                {% csrf_token %}                                  
                                <div class="form-group mx-sm-3 mb-2">
                                <label for="barrio" class="sr-only">País</label>
                                <input class="form-control" id="pais" placeholder="País" name="país" required>
                                </div>

                                <div class="form-group mx-sm-3 mb-2">
                                <label for="barrio" class="sr-only">Ciudad</label>
                                <input class="form-control" id="ciudad" placeholder="Ciudad" name="ciudad" required>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                <label for="direccion" class="sr-only">Dirección</label>
                                 <input class="form-control" id="direccion" placeholder="Dirección" name="direccion" value="{{ cliente.direccion|default_if_none:"" }}" required>
                              </div>  
                              {% if user.is_authenticated%}
                              {% else %}
                              <h4>Información del pago:</h4>

                              <div class="form-group mx-sm-3 mb-2">                                  
                              <label for="nombrebanco" class="sr-only">nombre banco</label>
                              {{form.nombre_banco}}
                              </div> 

                              <div class="form-group mx-sm-3 mb-2">                                  
                                <label for="fechavencimiento" class="sr-only">fecha vencimiento</label>
                                {{form2.fecha_vencimiento}}
                            </div> 

                            <div class="form-group mx-sm-3 mb-2">                                  
                                    <label for="numerotarjeta" class="sr-only">numero tarjeta</label>
                                    {{form2.numero_tarjeta}}
                                </div> 

                                <div class="form-group mx-sm-3 mb-2">                                  
                                        <label for="tipotarjeta" class="sr-only">tipo tarjeta</label>
                                        {{form2.tipo_tarjeta}}
                                    </div> 

                                    <div class="form-group mx-sm-3 mb-2">                                  
                                            <label for="cvv" class="sr-only">cvv</label>
                                            {{form2.cvv}}
                                        </div> 


                              {%endif%}
                              <div class="form-group">
                               <input type="hidden" name="datos-direccion" id="mi_direccion" value=""/>
                              </div>
                                <div class="text-center"><button type="submit" class="btn btn-danger float-right mb-3 mr-2">Pedir</button></div>
                              
                            </form>
                        </div>
                    </div>
                </div>
    </section>
{% include 'tenant/footer.html' %}
		 

    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'landing-tenant/js/jquery.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/popper.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/aos.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/scrollax.min.js' %}"></script>  
  <script src="{% static 'landing-tenant/js/main.js' %}"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
  </body>
</html>

<script type="text/javascript">
    function clic_cantidad(e, algo, precio){
    e.preventDefault();
    fieldName = $(algo).attr('data-field');
    type      = $(algo).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {

            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            }
            if(parseInt(input.val()) == input.attr('min')) {
                $(algo).attr('disabled', true);
            }

        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(algo).attr('disabled', true);
            }
        }
        cambio_cantidad(fieldName, input, precio);
    } else {
        input.val(0);
    }
}
$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
function cambio_cantidad(id, algo, precio) {
    minValue =  parseInt($(algo).attr('min'));
    maxValue =  parseInt($(algo).attr('max'));
    valueCurrent = parseInt($(algo).val());
    if(valueCurrent > minValue) {
        $(".btn-number[data-type='minus'][data-field='"+id+"']").removeAttr('disabled')
    } else {
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+id+"']").removeAttr('disabled')
    } else {
        $(this).val($(this).data('oldValue'));
    }
    calcular_subtotal(id, algo, precio)
}

$(document).ready(function() {
    calcular_subtotal();
    $('#efectivo').tooltip({'trigger':'focus', 'title': '¿Con cuanto efectivo pagará? Esta información se usará para evitar contratiempos al momento de dar cambio de dinero'});
});

function calcular_subtotal(){
    var cantidad = parseInt(document.getElementById("cantidad_pedido").innerHTML);
    var total = 0;
    for(i=0; i<cantidad; i++){
        total = parseInt(document.getElementById("cantidad_"+ids[i]).innerHTML) * parseInt(document.getElementById("precio_"+ids[i]).innerHTML);
        elemento = document.getElementById('total_'+ids[i]);
        elemento.innerText = "";
        elemento.innerText = total;
    }
    calcular_total();
}

function calcular_total(){
    var cantidad = parseInt(document.getElementById("cantidad_pedido").innerHTML);
    var suma = 0;
    for(i=0; i<cantidad; i++){
        suma += parseInt(document.getElementById("total_"+ids[i]).innerHTML);
    }
    elemento = document.getElementById('total');
    elemento.innerText = "";
    elemento.innerText = suma;
}

function del_to_cart(event,producto){
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'cart_eliminar' %}",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id_producto: JSON.stringify(producto)
            },
            success: function(data){
                window.location = "{% url 'cart_listar' %}";
                if(data.estado){
                	document.getElementById("cantidad_pedido").innerHTML=""+data.cantidad;
                }else{
                }
            }
        });
    }

    function cant_to_cart(event){
        event.preventDefault();
        inputs = []
        var cantidad = parseInt(document.getElementById("cantidad_pedido").innerHTML);
        var suma = 0;
        for(i=0; i<cantidad; i++){
            var input = $("input[name='"+id[i]+"']");
            var currentVal = parseInt(input.val());
            inputs.push(currentVal);
        }
        $.ajax({
            type: "POST",
            url: "{% url 'cart_cantidades' %}",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                cantidades: JSON.stringify(inputs)
            },
            success: function(data){
                window.location = "{% url 'cart_comprar' %}";
                if(data.estado){
                	document.getElementById("cantidad_pedido").innerHTML=""+data.cantidad;
                }else{
                }
            }
        });
    }
function direccioncita(){
    var fields = $( ".form-direccion :input" ).serializeArray();
    var campos = JSON.stringify(fields);
    document.getElementById('mi_direccion').value = campos;
}
</script>