{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    {% include 'tenant/head.html' %}    
  <body>
      {% include 'tenant/nav.html' %}      
    <section>
            <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <h2>Carrito de compras</h2>
                            <br>
                            <div class="table-responsive">
                                {% if productos %}
                                <table class="table table-dark">
                                    <thead >
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Detalles del pedido</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Subtotal</th>
                                        <th>SUBTOTAL</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <script type="text/javascript">
                                            var ids = []
                                            var id_ingredientes=[]
                                            var precio_i=0 
                                            var pizzas_adici=0  
                                            var ids_i=[]
                                            var total_ingredientes=[]  
                                            var cantidades=[]                                      
                                     </script>
                                         {% for key, un_producto in productos.items %}
                                    <tr>
                                        <script type="text/javascript">
                                            ids.push({{un_producto.id}});
                                            var precio_pizza={{un_producto.valor}};                                                                                                                                                                   
                                        </script>                                      
                                        <td><img src="{% get_static_prefix %}{{un_producto.imagen}}" alt="Foto Producto" height="150" width="150"></td>
                                        <td>{{ un_producto.nombre }}: {{ un_producto.descripcion}}
                                            <br>    
                                            ingredientes:                                          
                                            {% for pizza in pizzas %}                 
                                            {% if un_producto.id == pizza.id%}       
                                            {% for ingrediente in pizza.ingrediente.all %}                                           
                                            {{ingrediente.nombre}},
                                            {% endfor %}
                                            {%endif%}    
                                            {%endfor%}
                                            <br>
                                            adicionales:                                               
                                            {% for key,adiciones in adicionales.items %} 
                                            {%if adiciones.id_pizza == un_producto.id%}  
                                            <script type="text/javascript">
                                                if(ids_i.indexOf({{adiciones.id_pizza}}) == -1){
                                                ids_i.push({{adiciones.id_pizza}}); 
                                                total_ingredientes.push({{adiciones.total}});
                                                precio_i={{adiciones.total}};
                                                }
                                            </script>  
                                            {% for ingrediente in ingredientes %}
                                            {% if adiciones.id == ingrediente.id %}                                            
                                            {{adiciones.cantidad}}
                                            {{ingrediente.nombre}}, 
                                            {%endif%}                                           
                                            {%endfor%} 
                                            {%endif%}                                                                                      
                                            {%endfor%}   
                                        </td>     
                                        
                                        {% for key, cantidad in cantidades.items %}
                                        {% if cantidad.id == un_producto.id %}
                                        <script type="text/javascript">
                                            cantidades.push({{cantidad.cantidad}});                                                                                                                                                                                                              
                                        </script>  
                                        {% endif %}
                                        {% endfor %}
                                        
                                        <td>
                                            <div class="input-group mb-3">
                                                  <div class="input-group-prepend">
                                                        <span style="cursor:pointer" class="input-group-text" onclick="clic_cantidad(event,this,{{un_producto.valor}})" data-type="minus" data-field="{{un_producto.id}}">
                                                            <i class="fa fa-minus text-danger"></i>
                                                        </span>
                                                  </div>
                                                  <input type="number" id="input_{{un_producto.id}}" name="{{un_producto.id}}" class="form-control input-number" value="1"  min="1" max="100" disabled>
                                                    <div class="input-group-append">
                                                        <span style="cursor:pointer" class="input-group-text " onclick="clic_cantidad(event,this,{{un_producto.valor}})" data-type="plus" data-field="{{un_producto.id}}">
                                                            <i class="fa fa-plus text-success"></i>
                                                        </span>
                                                  </div>
                                            </div>
                                        </td>
                                        <td>{{ un_producto.valor}}</td>
                                        <td >
                                        <label id="total_{{un_producto.id}}"></label>  
                                        <br>
                                        <br>                                                                               
                                        <label id="precio_ingredientes_{{un_producto.id}}"></label>
                                        </td>
                                        <td id="total_pizza_adicional_{{un_producto.id}}"></td>
                                        <td>
                                            <a class="text-danger" href="#" onclick="del_to_cart(event,{{un_producto.id}})">
                                                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                            <td>
                                                <div>
                                                        <span class="text-danger"> Desea añadir ingredientes adicionales? </span>
                                                        <a class="btn btn-danger float-right mb-3 mr-2" data-toggle="modal" data-target="#exampleModalCenter"onclick="pizzas_adici={{un_producto.id}}" data-id="{{ un_producto.id }}"> <span> Si </span> 
                                                                                                        
                                                        </a>                                                
                                                      </div>
                                            </td>
                                            
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="font-weight-bold">Total:</td>
                                        <td id="total" class="font-weight-bold"></td>                                        
                                        <td></td>
                                    </tr>
                                </table>
            
                            </div>
                            <a style="color: white; text-decoration: none" class="btn btn-primary btn-md my-0 p" href="{% url 'ordenar' %}">
                                Seguir comprando
                            </a>
                            <button class="btn btn-danger float-right mb-3 mr-2" onclick="cant_to_cart(event);">
                                <a style="color: white; text-decoration: none" >
                                    Comprar
                                </a>
                            </button>
                            <div class="clearfix"></div>
                            {% else %}
                            <h1>Carrito vacio</h1>
                            <br>
                            <a style="color: white; text-decoration: none" class="btn btn-primary btn-md my-0 p" href="{% url 'ordenar' %}">
                                Seguir comprando
                            </a>
                            </br>
                            {% endif %}
                            </tbody>
            
                        </div>
                    </div>
                </div>
            </section>      
    
<!--MODAL 1-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                 </div>
            
            <div class="modal-body">
                    <div class="table-responsive">                        
                            <table class="table table-hover">
                                <thead >
                                <tr>                                    
                                    <th>Ingrediente</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Subtotal</th>                                  
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>                                                                  
                                    {% for ingrediente in ingredientes %}
                                    <script type="text/javascript">
                                        id_ingredientes.push({{ingrediente.id}});
                                    </script> 
                                    <tr>                                                                       
                                        <td>{{ ingrediente}}</td>
                                        <td>
                                            <div class="input-group mb-3">
                                                  <div class="input-group-prepend">
                                                        <span style="cursor:pointer" class="input-group-text" onclick="clic_cantidad(event,this,{{ingrediente.valor}})" data-type="minus" data-field="ig_{{ingrediente.id}}">
                                                            <i class="fa fa-minus text-danger"></i>
                                                        </span>
                                                  </div>
                                                  <input type="number" name="ig_{{ingrediente.id}}" class="form-control input-number" value="0"  min="0" max="3" disabled>
                                                    <div class="input-group-append">
                                                        <span style="cursor:pointer" class="input-group-text " onclick="clic_cantidad(event,this,{{ingrediente.valor}})" data-type="plus" data-field="ig_{{ingrediente.id}}">
                                                            <i class="fa fa-plus text-success"></i>
                                                        </span>
                                                  </div>
                                            </div>
                                        </td>
                                        <td id="precio_{{ingrediente.id}}">{{ ingrediente.valor}}</td>
                                        <td id="total_ig_{{ingrediente.id}}">0</td>                                   
                                    </tr>
                                    {% endfor  %}
                                    <tr>
                                        <td></td>
                                        <td></td>                                        
                                        <td class="font-weight-bold">Total:</td>
                                        <td id="total_i" class="font-weight-bold"></td>                                        
                                    </tr> 
                            </table>
                        </div> 
                      
            </div>
            <div class="modal-footer">
             <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
             <button type="button" class="btn btn-primary " onclick="ingredientes_adicionales(event);">Guardar cambios</button>
            </div>
          </div>
        </div>
      </div>
{% include 'tenant/footer.html' %}
		 

    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'landing-tenant/js/jquery.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/popper.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/aos.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'landing-tenant/js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'landing-tenant/js/scrollax.min.js' %}"></script>  
  <script src="{% static 'landing-tenant/js/main.js' %}"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
  </body>
</html>
<script type="text/javascript">  

    function clic_cantidad(e, algo, precio){
    e.preventDefault();
    fieldName = $(algo).attr('data-field');
    type      = $(algo).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {

            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            }
            if(parseInt(input.val()) == input.attr('min')) {
                $(algo).attr('disabled', true);
            }

        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(algo).attr('disabled', true);
            }
        }
        cambio_cantidad(fieldName, input, precio);
    } else {
        input.val(0);
    }
}
$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
function cambio_cantidad(id, algo, precio) {
    minValue =  parseInt($(algo).attr('min'));
    maxValue =  parseInt($(algo).attr('max'));
    valueCurrent = parseInt($(algo).val());
    if(valueCurrent > minValue) {
        $(".btn-number[data-type='minus'][data-field='"+id+"']").removeAttr('disabled')
    } else {
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+id+"']").removeAttr('disabled')
    } else {
        $(this).val($(this).data('oldValue'));
    }
    calcular_subtotal(id, algo, precio)
}

function calcular_subtotal(id, algo, precio){
    var input = $("input[name='"+id+"']");
    var currentVal = Number(input.val());
    var cantidad = parseInt(document.getElementById("cantidad_pedido").innerHTML);
    var precio_total_i=0;
    for(i=0; i<cantidad; i++){ 
        if (ids[i]==id){
            precio_total_i=total_ingredientes[i];  
        }    
    }
    resultado = currentVal*precio;
    resultado_i=currentVal*precio_total_i;    
    totalPizza=resultado+resultado_i;
    //
    elemento = document.getElementById('total_'+id);
    elemento.innerText = "";
    elemento.innerText = resultado;
    //
    elemento1 = document.getElementById('precio_ingredientes_'+id);  
    if(elemento1!=null){
    elemento1.innerText = "";
    elemento1.innerText = resultado_i;
    }
    //
    elemento2= document.getElementById('total_pizza_adicional_'+id);
    if (elemento2!=null){          
    elemento2.innerText = "";
    elemento2.innerText = totalPizza;
    }
    calcular_total();
    calcular_total_i();
}

function valor_input_inicio(){
    var cantidad = {{productos|length }}; 
    for(i=0; i<cantidad; i++){ 
        var inputNombre = document.getElementById('input_'+ids[i]);        
        if(cantidades[i]!=undefined){
        inputNombre.value=cantidades[i];
        }
}}

function subtotal_inicio(){
    var cantidad = {{productos|length }};        
        var precio_ingredientes=0; 
        var total_inicio_pizza=0;         
        var total_adicionales=0;             
        for(i=0; i<cantidad; i++){   
            var input = $("input[name='"+ids[i]+"']");
            var currentVal = Number(input.val());
            total_inicio_pizza = currentVal* precio_pizza;
            elemento = document.getElementById('total_'+ids[i]);
            elemento.innerText = "";
            elemento.innerText = total_inicio_pizza;
            /////////
            if (total_ingredientes[i]==undefined){
            total_adicionales=0;
            }
            else{
            total_adicionales=currentVal * total_ingredientes[i];   
            }         
            elemento1 = document.getElementById('precio_ingredientes_'+ids[i]);
            elemento1.innerText = "";
            elemento1.innerText = total_adicionales;  
            /////////
            elemento2 = document.getElementById('total_pizza_adicional_'+ids[i]);
            elemento2.innerText = "";
            elemento2.innerText = total_inicio_pizza+total_adicionales;
    }
   
}

$(document).ready(function() {
    valor_input_inicio();
    subtotal_inicio();
    calcular_total();
    calcular_total_i(); 
    
});

function calcular_total(){
    var cantidad = parseInt(document.getElementById("cantidad_pedido").innerHTML);
    var suma = 0;
    for(i=0; i<cantidad; i++){
        suma += parseInt(document.getElementById("total_pizza_adicional_"+ids[i]).innerHTML);
    }
    elemento = document.getElementById('total');
    elemento.innerText = "";
    elemento.innerText = suma;
}

function calcular_total_i(){
    var cantidad = {{ingredientes|length }};    
    var suma = 0;
    for(i=0; i<cantidad; i++){
        suma += parseInt(document.getElementById("total_ig_"+id_ingredientes[i]).innerHTML);        
    }    
    elemento = document.getElementById('total_i');
    elemento.innerText = "";
    elemento.innerText = suma;
}


function del_to_cart(event,producto){
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'cart_eliminar' %}",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id_producto: JSON.stringify(producto)
            },
            success: function(data){
                window.location = "{% url 'cart_listar' %}";
                if(data.estado){
                    console.log(data.mensaje)
                	document.getElementById("cantidad_pedido").innerHTML=""+data.mensaje;
                }else{
                    console.log(data.mensaje);
                }
            }
        });
    }

    function cant_to_cart(event){
        console.log("entro cantidad")
        event.preventDefault();
        inputs = {}
        var cantidad = parseInt(document.getElementById("cantidad_pedido").innerHTML);
        var suma = 0;
        for(i=0; i<cantidad; i++){
            var item = {}
            var input = $("input[name='"+ids[i]+"']");            
            var currentVal = parseInt(input.val());
            item = {'id': ids[i], 'cantidad':currentVal}
            inputs[ids[i]]= item;
        }
        console.log(inputs);
        $.ajax({
            type: "POST",
            url: "{% url 'cart_cantidades' %}",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                cantidades: JSON.stringify(inputs)
                
            },
            success: function(data){
                window.location = "{% url 'cart_comprar' %}";
            }
        });
    }

    
    function ingredientes_adicionales(event){
        console.log("entro adicionales")
        event.preventDefault();        
        inputs = {}
        var cantidad = {{ingredientes|length }};
        var suma = 0;
        var total_precio=document.getElementById("total_i").innerHTML;
        for(i=0; i<cantidad; i++){
            var item = {}
            var input = $("input[name='"+"ig_"+id_ingredientes[i]+"']");        
            var currentVal = parseInt(input.val());
            if (currentVal !=0){ 
            item = {'id': id_ingredientes[i], 'cantidad':currentVal, 'total':total_precio,'id_pizza':pizzas_adici}
            inputs[pizzas_adici+""+id_ingredientes[i]]= item;
        }}
        console.log(inputs);
        $.ajax({
            type: "POST",
            url: "{% url 'ingredientes_cantidades' %}",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                ingredientes_add: JSON.stringify(inputs),
                id_producto: JSON.stringify(pizzas_adici)
            },
            
            success: function(data){    
           window.location = "{% url 'cart_listar' %}";                    
                            
            }
            
        });
    } 



</script>