{% block body %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Admin</title>

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'landingpage\images\logo.png' %}"/>
    
</head>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">Administrador de Franquicia</h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'landingpage\images\logo.png' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="post" action="">
      {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="nickname" placeholder="username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
      <!--
      <div class="fadeIn second">{{form.nickname}}</div>
      <div class="fadeIn second">{{form.password}}</div>
      <input type="submit" class="fadeIn third" value="Log In">-->
      <h4>{{mensaje}}</h4>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Olvidaste la contraseña?</a>
    </div>

  </div>
</div>
{% endblock body %}