{% load staticfiles %}
{% url 'inicio_t' as inicio_url %}
{% url 'cart_listar' as cart_url %}
{% url 'ordenar' as ordenar_url %}
{% url 'registro' as registro_url %}
{% url 'login' as login_url %}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <div class="row">
          <div class="col" style="padding-right: 0px;"><a class="navbar-brand" href="{% url 'inicio_t' %}"><img src="/static/{{ logo }}" alt="" height="50" > </a></div>
          <div class="col" style="padding-top: 12px; padding-left: 0px;">  <a  class="navbar-brand" href="{% url 'inicio_t' %}"> SuperPizzas<br><small>{{request.tenant.nombre}}</small></a></div>
        </div>
        <!-- <a class="navbar-brand" href="#"><img src="/static/{{ logo }}" alt="" height="50" > </span> SuperPizzas<br><small>{{request.tenant.nombre}}</small></a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="{% if request.path == cart_url %}nav-item active {% else %} nav-item{% endif %}"><a href="{% url 'cart_listar' %}" class="nav-link"> <span id="cantidad_pedido">{{ request.session.cart |length }}</span> <i class="fa fa-shopping-cart"></i> Cart </a></li>
            <li class="{% if request.path == inicio_url %}nav-item active {% else %} nav-item{% endif %}"><a href="{% url 'inicio_t' %}" class="nav-link">Inicio</a></li>
            <li class="nav-item"><a href="#menu" class="nav-link">Menú</a></li>
            <li class="{% if request.path == ordenar_url %}nav-item active {% else %} nav-item{% endif %}"><a href="{% url 'ordenar' %}" class="nav-link">Pide en Línea</a></li>            
            {% if user.is_authenticated %}
            {% if user.usuario.rol == 'c'%}
            <li class="nav-item"><a href="{% url 'modificarcliente' %}" class="nav-link">Mi Información</a></li>
            {% endif %}
            <li class="nav-item"><a href="{% url 'cerrar_sesion' %}" class="nav-link">Cerrar Sesión</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'registro' %}" class="nav-link">Registrarse</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Iniciar sesión</a></li>
            {% endif %}
            
          </ul>
        </div>
    </div>
  </nav>