{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
          <a class="navbar-brand" href="index.html"><span class="flaticon-pizza-1 mr-1"></span>SuperPizzas<br><small>{{request.tenant.nombre}}</small></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="index.html" class="nav-link">Inicio</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Menú</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Pide en Línea</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Registrarse</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Iniciar sesión</a></li>
         </ul>
      </div>
      </div>
  </nav>