{% block contacto %}     
<!-- Contact section start -->
<div id="contact" class="contact">
    <div class="section secondary-section">           

        <div class="container1">
            <div class="span9 center contact-info">
                <p>Cl. 13 #100-00, Cali, Valle del Cauca</p>
                <p class="info-mail">superpizzas@gmail.com</p>
                <p>+11 234 567 890</p>
                <p>+11 286 543 850</p>               
            </div>           
        </div>
    </div>
</div>
<!-- Contact section edn -->
{% endblock %}

{% block footer %}
<!-- Footer section start -->
<div class="footer">
    <p>&copy; 2019 Superpizzas S.A</p>
</div>
<!-- Footer section end -->
<!-- ScrollUp button start -->
<div class="scrollup">
    <a href="#">
        <i class="icon-up-open"></i>
    </a>
</div>
{% endblock %}