{% load static %}
<div class="navbar">
    <div class="navbar-inner" style="padding-top: 10px  !important;">

            <a href="/" >
                <img src="{% static 'landingpage/images/logo3.png' %}" width="auto" height="50px" alt="Logo" />
                <!-- This is website logo -->
            </a>         
            
            <div class="nav-collapse collapse pull-right">             
            </div>
            
            <!-- End main navigation -->
        
    </div>
</div>
