{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block page_title %}{% endblock %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- notifications -->
    <link rel="stylesheet" href="{% static 'vendors/toast/toastr/toastr.min.css' %}">
    {% block css %}
    {% endblock css %}
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/{{ request.tenant.media }}"/>
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                           aria-expanded="false">
                           {% if request.user.is_superuser %}
                           {% firstof "Super Administrador" as rol %}
                           {% elif request.user.usuario.rol == 'a' %}
                           {% firstof "Administrador" as rol %}
                           {% elif request.user.usuario.rol == 'd' %}
                           {% firstof "Digitador" as rol %}  
                           {% else %}
                           {% firstof "Vendedor" as rol %}
                           {% endif %}
                            
                            <span class="profile-text">{{request.user}} - {{rol}} </span>
                            
                            
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item" href="{% url 'cerrar_sesion'  %}">Cerrar Sesion</a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                    <span class="mdi mdi-menu"> </span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">
                                <div class="profile-image">
                                    <img src="{% static 'images/favicon.png' %}" alt="profile image">
                                </div>
                                <div class="text-wrapper">
                                    <big class="profile-name">{{request.tenant.nombre}}</big>
                                    <div>
                                        <small class="designation text-uppercase">{{request.tenant.tipo}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% include 'menus/base.html' %}
                </ul>
            </nav>

            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    {% block content %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h1 class="card-title">{% block card_title %}Administración de franquicia{% endblock %}</h1>
                                        <hr>
                                        {% block card_content %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
                  <a href="" target="_blank">Superpizzas</a>. Todos los derechos reservados.</span>
                </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->    
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- notifications -->
    <script src="{% static 'vendors/toast/toastr-js/toastr.min.js' %}"></script>
    <script>
        {% for msg in messages %}
            $(document).ready(function(){
                setTimeout(function() {
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "showEasing": "swing"
                    }
                    toastr["{{ msg.tags }}"]("{{msg}}")
                },500);
            });
        {% endfor %}
    </script>
    {% block js %}
    {% endblock %}
    <!-- End custom js for this page-->
</body>

</html>
